.home {
    position: relative; /* Necesario para que el pseudo-elemento se posicione correctamente */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; /* Asegura que nada se desborde fuera del contenedor */
  }
  
  .home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('src/Imagen/fondo.jpg'); /* Ruta a tu imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5; /* Ajusta la opacidad de la imagen de fondo */
    z-index: -1; /* Asegura que la imagen esté detrás del contenido */
  }
  


.container{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-info-new{
    width: 28%;
    height: auto;
}